.estilo{
    background: var( --surface-b);
    color: var(--text-color);
}
.justificado{
    text-align: justify;
}
.mat-card-avatar{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 250px;
  height: 250px;
}
.logoPartidoPolitico{
  width: 45px;
  height: 45px;
}
.p-panel{
    margin-top: 20px;
}




