.mapAyun{
    margin: auto;
    width: auto;
    height: auto;   
}

.mapAyun :hover{
    fill: #65174a;
}
.ayuntamientoLetra{
    color:#65174a;
}

.hide{
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
}
.encendido{
    fill: #65174a;
}
.pointer{
    cursor: pointer;
}