.mapDiv{
    margin: auto;
    width: auto;
    height: auto;
    
}

.mapDiv :hover{
    fill: #65174a;
}
.distritoLetra{
    color: #65174a;
}
.hide{
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
}
.encendido{
    fill: #65174a;
}
.pointer{
    cursor: pointer;
}

