<div><br></div>


<div fxLayout="row wrap"
     fxLayout.md="row"
     fxLayout.sm="row"
     fxLayout.xs="column"
     class="text-layout ">
    
     <div fxFlex="50"
          fxFlex.md="50"
          fxFlex.sm="50"
          >

        <div fxFlex="95"
             fxFlex.md="95"
             fxFlex.sm="95"
             fxFlex.xs="100"
             >
             <app-buscar></app-buscar>
        
             <p-fieldset class="ocultar-div" legend="Geolocalización" [toggleable]="true">
                 <div id="map"></div>
             </p-fieldset>

             
            
             
        </div>
    </div>

    <div fxFlex="50"
         fxFlex.md="50"
         fxFlex.sm="50">
         <p-card class="justificado">
            <h3>
                <a class="ieeg">El Instituto Electoral del Estado de Guanajuato</a> te la bienvenida al sitio web ¿Quién me representa? En el cual tú como ciudadana o ciudadano guanajuatense podrás conocer de una forma fácil y didáctica quiénes son tus autoridades locales y federales electas, además podrás consultar la información de sus atribuciones y el alcance de sus decisiones públicas, con el propósito de cumplir uno de los objetivos del IEEG que es impulsar la participación de la ciudadanía dentro de la vida pública.
            </h3>
            <h3>
                Para consultar la información de tus autoridades deberás ingresar tu número se <a class="ieeg">sección</a> en el recuadro de arriba. Si no conoces tu número de sección en la infografía te explica como la puedes ubicar en tu credencial para votar.
            </h3>
            <div>
                <img src="assets/images/seccion/Credencial-A.svg" width="60%">
            </div>
            
        </p-card>
    </div>

</div>


